:root {
  /* colors */
  --l-primary-color: #efefef;
  --l-secondary-color: #1d1d1d;
  --accent-color: #5055ff;
  --d-primary-color: #272730;
  --d-secondary-color: #efefef;
}

.sociallink {
  margin: 0 5px;
}
