/*Google fonts - Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

.container {
	width: 100%;
	margin: 0 auto;
}

header {
	background: rgb(23,22,61);
	background: linear-gradient(90deg, rgba(23,22,61,1) 8%, rgba(42,40,105,1) 36%, rgba(113,110,196,1) 100%);
	position: sticky;
    top: 0;
}

img.logo {
    width: 90px;
    border-radius: 50%;
	margin: 10px;
}

nav {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
	display: inline-block;
	list-style: none;
	margin: 10px 15px;
}

nav ul li a {
	text-decoration: none;
	color: #ffffff;
	padding: 15px;
}

.active {
	font-weight: bold;
    border-radius: 30px;
    color: #ffffff;
	background-color: rgb(187, 115, 255);

}

nav ul li a:not(.active):hover {
	font-weight: bold;
	text-shadow: 0 0 3px rgb(211, 146, 255), 0 0 5px rgb(250, 59, 155);
}

section.homepage-section {
	height: 100vh;
	background-image: linear-gradient(rgba(27, 16, 34, 0.5),rgba(18, 12, 99, 0.5)), url(../images/homepage-photo.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.home-page {
	text-align: center;
	padding: 210px;
}

.home-page h1 {
	color: white;
	font-size: 45px;
}

.home-page p {
	color: white;
}

.socials {
	display: flex;
	justify-content: space-evenly;
    padding: 45px;
	text-align: center;
}

.socials a {
	text-decoration: none;
	color: #ffffff;
}

.socials a:hover {
	color: #ff69f8
}

section.quote-section {
	background: rgb(23,22,61);
	background: linear-gradient(90deg, rgba(23,22,61,1) 8%, rgba(42,40,105,1) 36%, rgba(113,110,196,1) 100%);
	height: 15vh;
}

.quote-section p {
	text-align: center;
	color: #ffffff;
	padding: 35px;
	font-size: large;
}