html {
  scroll-behavior: smooth;
}

:root {
  --color-accent: white;
  --blue-hover: rgb(61, 126, 255);
  --font: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

/* for mobile size */
body {
  width: auto;
  height: 100vh;
  /* background-color: var(--color-60); */
  background-image: url(/assets/abstract.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0px;
  height: 50px;
  z-index: 1000;
}
header a {
  text-decoration: none;
  color: var(--color-accent);
  /* text-align: center; */
}
header a#logo {
  font-size: x-large;
  color: var(--color-accent);
  /* text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5); */
  /* text-shadow: 2px 2px 4px rgba(224, 99, 255, 0.5); */
  font-weight: 800;
  margin-left: 50px;
}
header .navigation {
  /* z-index: 1000; */
  position: absolute;
  top: 100%;
  right: 2%;
  overflow: hidden;
  padding: 10px 0;

  width: 150px;
  height: auto;

  /* hide if not toggled, go to js */
  display: none;

  /* display: flex; */
  border-radius: 15px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--color-accent);
  /* background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
  /* transition: all 0.5s ease; */
}
header .navigation a {
  /* padding: auto; */
  /* display: none; */
  /* transition: all 0.5s ease; */
  color: black;
  margin: 20px;
}

header .navigation a:hover {
  color: var(--blue-hover);
}

header .rightNav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
header .rightNav a#contactUs {
  background-color: var(--color-accent);
  font-weight: 600;
  padding: 5px;
  color: black;
  border-radius: 5px;
  margin: auto 20px;
}
header .rightNav a#contactUs:hover {
  background-color: rgb(61, 126, 255);
  color: var(--color-accent);
}
header .rightNav .menuIcon {
  color: var(--color-accent);
}

/* main contents */
main {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* apply margin and width to all sections mobile-first */
main section {
  /* position: relative; */
  margin: 50px 0;
  width: 70%;
}

/* #hero section */

main #heroSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

main #heroSection .infoWrapper {
  color: var(--color-accent);
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

main #heroSection .infoWrapper h1 span {
  color: rgb(61, 126, 255);
}

main #heroSection .infoWrapper p {
  margin: 10px 0;
}

main #heroSection .infoWrapper p#quote {
  font-style: italic;
}

main #heroSection #heroImg {
  display: flex;
  width: 100%;
  border-radius: 30px;
  margin-bottom: 40px;
}

main #heroSection .infoWrapper .socialsWrapper {
  margin: 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

main #heroSection .infoWrapper .socialsWrapper a {
  color: var(--color-accent);
  margin-right: 20px;
}

main #heroSection .infoWrapper .socialsWrapper a:hover {
  color: var(--blue-hover);
}

main #heroSection .infoWrapper .socialsWrapper a p {
  display: none;
}

/* #about section */

main #aboutSection {
  color: var(--color-accent);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* apply to all h1 elements inside about section */
main #aboutSection h1 {
  font-size: xx-large;
  margin: 20px 0;
}

/* #about section - aboutWrapper */
main #aboutSection .aboutWrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main #aboutSection .aboutWrapper video {
  width: 100%;
}

main #aboutSection .aboutWrapper .introWrapper {
  margin: 20px 0;
  display: block;
  /* flex-direction: column;
  justify-content: center;
  align-items: start;
  justify-items: start; */
}

main #aboutSection .aboutWrapper .introWrapper #introParagraph {
  margin-bottom: 30px;
}

main #aboutSection .aboutWrapper .introWrapper #readMore,
#readLess {
  font-style: italic;
  color: rgba(255, 255, 255, 0.705);
  /* text-decoration: underline; */
  background-color: transparent;
}

main #aboutSection .aboutWrapper .introWrapper #readLess {
  /* text-decoration: underline; */
  display: none;
}

main #aboutSection .aboutWrapper .introWrapper #moreContent {
  display: none;
}

main #aboutSection .aboutWrapper .introWrapper #viewResume {
  margin: 20px 0;
  background-color: var(--color-accent);
  padding: 5px;
  border-radius: 5px;
  border-color: transparent;
  font-weight: 600;
  font-size: large;
  text-decoration: none;
  color: black;
}

main #aboutSection .aboutWrapper .introWrapper #viewResume:hover {
  background-color: rgb(61, 126, 255);
  color: var(--color-accent);
}

/* #aboutSection - skillsWrapper */

/* main #aboutSection .skillsWrapper .iconSkillsWrapper {
} */

main #aboutSection .stackWrapper .iconStackWrapper svg {
  width: 4rem;
  height: auto;
}

main #aboutSection .stackWrapper .iconStackWrapper svg:hover {
  transform: translateY(-10px);
  transition: all 0.3s;
}

/* skills wrapper */
main #aboutSection .skillsWrapper {
  margin: 20px 0;
  /* background-color: aquamarine; */
  width: 100%;
}

main #aboutSection .skillsWrapper h1 {
  font-size: xx-large;
  text-align: start;
}

main #aboutSection .skillsWrapper .skillsBarContainer {
  /* background-color: blueviolet; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main #aboutSection .skillsWrapper .skillsBarContainer .skill {
  width: 95%;
  /* background-color: aqua; */
  margin: 20px 0;
}

main #aboutSection .skillsWrapper .skillsBarContainer .skill .bar {
  margin: 10px 0;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.183);
  border-radius: 30px;
}

/* main #aboutSection .skillsWrapper .skillsBarContainer .skill .bar:hover {
  bor
} */

main #aboutSection .skillsWrapper .skillsBarContainer .skill .bar #programming-perc {
  width: 67%;
  background-color: rgb(80, 182, 255);
  height: 100%;
  border-radius: 30px;
}

main #aboutSection .skillsWrapper .skillsBarContainer .skill .bar #problem_solving-perc {
  width: 79%;
  background-color: rgb(80, 182, 255);
  height: 100%;
  border-radius: 30px;
}

main #aboutSection .skillsWrapper .skillsBarContainer .skill .bar #creativity-perc {
  width: 79%;
  background-color: rgb(80, 182, 255);
  height: 100%;
  border-radius: 30px;
}

main #aboutSection .skillsWrapper .skillsBarContainer .skill .bar #interpersonal-perc {
  width: 60%;
  background-color: rgb(80, 182, 255);
  height: 100%;
  border-radius: 30px;
}

/* #projects section */

main #projectsSection {
  margin: 10vh 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
}

main #projectsSection h1 {
  color: var(--color-accent);
  font-size: xx-large;
}

main #projectsSection .projectsCompilation {
  margin: 2vh 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main #projectsSection .projectsCompilation .projectsButtons {
  margin: 10px 0;
  /* width: 100%; */
}

main #projectsSection .projectsCompilation .projectsButtons button {
  padding: 5px;
  font-size: large;
  margin: 5px 0;
  font-weight: 700;
  border: none;
  border-radius: 5px;
}

/* main #projectsSection .projectsCompilation .projectsButtons button:hover {
  background-color: var(--blue-hover);
  color: var(--color-accent);
} */

main #projectsSection .projectsCompilation .projectsButtons #p-allProjects {
  background-color: black;
  color: var(--color-accent);
}

/* main #projectsSection .projectsCompilation .projectsButtons #p-allProjects:hover {
  background-color: var(--blue-hover);
  color: var(--color-accent);
} */

/* main #projectsSection .projectsCompilation .projectsButtons button:active {
  background-color: black;
  color: var(--color-accent);
} */

main #projectsSection .projectsCompilation .projectsContainer {
  display: flex;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

main #projectsSection .projectsCompilation .projectsContainer a {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: start;
  align-items: center;
  /* font-size: small; */
  margin: 10px;
  padding: 10px;
  width: 400px;

  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);

  border-radius: 10px;
  text-decoration: none;
  /* flex-direction: row; */
}

main #projectsSection .projectsCompilation .projectsContainer a:hover {
  transform: translateY(-10px);
  transition: all 0.3s;
}

main #projectsSection .projectsCompilation .projectsContainer a img {
  width: 90px;
  border-radius: 8px;
}

main #projectsSection .projectsCompilation .projectsContainer a .project-info {
  font-size: small;
  color: var(--color-accent);
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* art gallery section */
main #artGallerySection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--color-accent);
  /* align-items: center; */
}

main #artGallerySection h1 {
  font-size: xx-large;
}

main #artGallerySection p {
  font-style: italic;
}

main #artGallerySection .artworksWrapper {
  overflow-x: auto;
}

main #artGallerySection .artworksWrapper .artworksSlide {
  /* overflow-x: auto; */
  margin: 20px 0;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

main #artGallerySection .artworksWrapper::-webkit-scrollbar {
  /* display: none; */
  height: 8px;
}

main #artGallerySection .artworksWrapper::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

main #artGallerySection .artworksWrapper::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
  border-radius: 10px;
}

main #artGallerySection .artworksWrapper::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

main #artGallerySection .artworksWrapper .artworksSlide img {
  height: 350px;
  margin: 0 10px;
  border-radius: 10px;
}

/* contacts section */
main #contactSection {
  padding: 30px;
  border-radius: 15px;
  color: var(--color-accent);
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background */
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

main #contactSection .contactsWrapper {
  width: 100%;
  /* height: 100%; */
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* justify-content: space-evenly; */
}

main #contactSection .contactsWrapper .contacts-info {
  margin: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* color: var(--color-accent); */
}

main #contactSection .contactsWrapper .contacts-info a {
  color: var(--color-accent);
  text-decoration: none;
  font-size: small;
  margin: 0 5px;
}

main #contactSection .contactsWrapper .contacts-info a:hover {
  /* transform: translateY(-10px);
  transition: all 0.3s; */
  color: var(--blue-hover);
}

main #contactSection .contactsWrapper .contacts-info p {
  display: none;
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  height: 50px;
  color: var(--color-accent);
  font-size: small;
}

/* for tablet size and above */
@media (min-width: 768px) {
  header .navigation {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    top: inherit;
    right: inherit;
    width: auto;
    height: auto;
    background: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }
  header a {
    text-align: center;
  }
  header .navigation a {
    color: var(--color-accent);
  }
  header .rightNav {
    margin: auto 5px;
  }
  header .rightNav .menuIcon {
    display: none;
  }

  /* apply margin and with to all sections inside main content */
  main section {
    margin: 70px 0;
    width: 80%;
  }

  main #heroSection {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin-top: 20vh;
  }

  main #heroSection #heroImg {
    display: block;
    width: 35%;
    /* border-radius: 30px; */
  }

  /* hero section */
  main #heroSection .infoWrapper {
    /* color: var(--color-accent); */
    width: 40%;
  }

  main #heroSection .infoWrapper .socialsWrapper {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  main #heroSection .infoWrapper .socialsWrapper a {
    color: var(--color-accent);
    margin: 10px 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main #heroSection .infoWrapper .socialsWrapper a i {
    margin-right: 15px;
  }

  main #heroSection .infoWrapper .socialsWrapper a p {
    display: contents;
    padding-left: 5px;
  }

  /* about section */

  main #aboutSection .aboutWrapper video {
    width: 40%;
    /* position: static; */
  }

  main #aboutSection .aboutWrapper {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  main #aboutSection .aboutWrapper .introWrapper {
    margin-left: 45px;
    /* display: block; */
  }

  main #aboutSection .skillsWrapper {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    width: 100%;
  }

  main #aboutSection .skillsWrapper .skillsBarContainer {
    width: 100%;
  }

  /* projects section */
  /* main #projectsSection {
    width: 90%;
  } */

  /* art gallery section */

  /* keyframes scroll */
  @keyframes scroll {
    /* 0% {
    transform: translateX(0);
  } */
    to {
      transform: translateX(-1800%);
    }
  }

  main #artGallerySection .artworksWrapper .artworksSlide {
    animation: scroll 50s linear infinite;
  }

  main #artGallerySection .artworksWrapper .artworksSlide:hover {
    animation-play-state: paused;
  }

  main #artGallerySection .artworksWrapper .artworksSlide img {
    height: 400px;
  }

  /* contacts section */

  main #contactSection .contactsWrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
  }

  main #contactSection .contactsWrapper .contacts-info a i {
    margin-right: 15px;
  }

  main #contactSection .contactsWrapper .contacts-info p {
    display: contents;
  }

  main #contactSection .contactsWrapper .contacts-info {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    /* margin-right: 20px; */
    /* color: var(--color-accent); */
  }

  main #contactSection .contactsWrapper .contacts-info a {
    margin: 15px 0;
    display: flex;
    align-items: center;
  }

  main #contactSection .contactsWrapper iframe {
    width: 400px;
    height: 250px;
  }
}
